In [1]:
# import dependencies
# import dependencies
import pandas as pd
from path import Path

In [2]:
# first import pitching stats data
data = Path('./LahmanData/People.csv')
ppl_df = pd.read_csv(data, index_col=False)
ppl_df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20353,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
20354,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
20355,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
20356,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
20357,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2017-08-19,zycht001,zychto01

In [3]:
ppl_df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [4]:
# drop unnecessary columns
ppl_df=ppl_df.drop(['birthMonth','birthDay','birthCountry','birthState','birthCity','birthYear','birthMonth', 'birthDay','birthCountry','birthState', 'birthCity','deathYear','deathMonth','deathDay','nameFirst','nameLast','nameGiven','debut','finalGame','retroID','bbrefID', 'deathCountry','deathState','deathCity'], axis=1)
ppl_df

        playerID  weight  height bats throws
0      aardsda01   215.0    75.0    R      R
1      aaronha01   180.0    72.0    R      R
2      aaronto01   190.0    75.0    R      R
3       aasedo01   190.0    75.0    R      R
4       abadan01   184.0    73.0    L      L
...          ...     ...     ...  ...    ...
20353   zupofr01   182.0    71.0    L      R
20354  zuvelpa01   173.0    72.0    R      R
20355  zuverge01   195.0    76.0    R      R
20356  zwilldu01   160.0    66.0    L      L
20357   zychto01   190.0    75.0    R      R

[20358 rows x 5 columns]

In [5]:
# export cleaned pitching stats as csv
ppl_df.to_csv('2010-2019_people_clean.csv', index=False)