In [1]:
# import dependencies
# import dependencies
import pandas as pd
from path import Path

In [2]:
# first import pitching stats data
data = Path('../LahmanData/Pitching.csv')
pitch_df = pd.read_csv(data, index_col=False)
pitch_df

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48394,zeuchtj01,2020,1,TOR,AL,1,0,3,1,0,...,0.0,0,0.0,0,47.0,1,2,0.0,0.0,0.0
48395,zimmebr02,2020,1,BAL,AL,0,0,2,1,0,...,0.0,2,2.0,0,31.0,1,6,0.0,0.0,1.0
48396,zimmejo02,2020,1,DET,AL,0,0,3,2,0,...,0.0,0,0.0,0,28.0,0,6,0.0,0.0,1.0
48397,zimmeky01,2020,1,KCA,AL,1,0,16,1,0,...,0.0,2,1.0,0,91.0,4,4,0.0,0.0,3.0
48398,zuberty01,2020,1,KCA,AL,1,2,23,0,0,...,1.0,1,1.0,0,99.0,8,11,1.0,1.0,3.0

In [3]:
# filter to include years 2010-2019
yrs_pitch_df = pitch_df[(pitch_df.yearID>2009) & (pitch_df.yearID<2020)]
yrs_pitch_df

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
39749,aardsda01,2010,1,SEA,AL,0,6,53,0,0,...,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0
39750,abadfe01,2010,1,HOU,NL,0,1,22,0,0,...,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0
39751,accarje01,2010,1,TOR,AL,0,1,5,0,0,...,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0
39752,aceveal01,2010,1,NYA,AL,3,0,10,0,0,...,1.0,0,1.0,0,53.0,2,5,0.0,0.0,0.0
39753,acostma01,2010,1,NYN,NL,3,2,41,0,0,...,1.0,3,0.0,0,157.0,12,13,1.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47624,zamorda01,2019,1,NYN,NL,0,1,17,0,0,...,1.0,0,1.0,0,41.0,3,5,0.0,1.0,0.0
47625,zeuchtj01,2019,1,TOR,AL,1,2,5,3,0,...,0.0,2,0.0,0,99.0,0,13,0.0,0.0,1.0
47626,zimmejo02,2019,1,DET,AL,1,13,23,23,0,...,2.0,3,6.0,0,504.0,0,89,3.0,4.0,5.0
47627,zimmeky01,2019,1,KCA,AL,0,1,15,0,0,...,0.0,2,0.0,0,102.0,3,22,0.0,0.0,1.0
47628,zobribe01,2019,1,CHN,NL,0,0,1,0,0,...,0.0,0,0.0,0,5.0,1,0,0.0,0.0,0.0

In [4]:
# drop NaN values
yrs_pitch_df=yrs_pitch_df.dropna()

In [5]:
# combine playerID and yearID to create ID
yrs_pitch_df["ID"] = yrs_pitch_df["yearID"].map(str) + yrs_pitch_df["playerID"]
yrs_pitch_df

C:\Users\alyss\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,ID
39749,aardsda01,2010,1,SEA,AL,0,6,53,0,0,...,2,2.0,0,202.0,43,19,7.0,1.0,5.0,2010aardsda01
39750,abadfe01,2010,1,HOU,NL,0,1,22,0,0,...,0,0.0,0,76.0,6,6,0.0,1.0,0.0,2010abadfe01
39751,accarje01,2010,1,TOR,AL,0,1,5,0,0,...,2,1.0,0,34.0,2,6,0.0,0.0,2.0,2010accarje01
39752,aceveal01,2010,1,NYA,AL,3,0,10,0,0,...,0,1.0,0,53.0,2,5,0.0,0.0,0.0,2010aceveal01
39753,acostma01,2010,1,NYN,NL,3,2,41,0,0,...,3,0.0,0,157.0,12,13,1.0,1.0,4.0,2010acostma01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47624,zamorda01,2019,1,NYN,NL,0,1,17,0,0,...,0,1.0,0,41.0,3,5,0.0,1.0,0.0,2019zamorda01
47625,zeuchtj01,2019,1,TOR,AL,1,2,5,3,0,...,2,0.0,0,99.0,0,13,0.0,0.0,1.0,2019zeuchtj01
47626,zimmejo02,2019,1,DET,AL,1,13,23,23,0,...,3,6.0,0,504.0,0,89,3.0,4.0,5.0,2019zimmejo02
47627,zimmeky01,2019,1,KCA,AL,0,1,15,0,0,...,2,0.0,0,102.0,3,22,0.0,0.0,1.0,2019zimmeky01
47628,zobribe01,2019,1,CHN,NL,0,0,1,0,0,...,0,0.0,0,5.0,1,0,0.0,0.0,0.0,2019zobribe01

In [22]:
# # drop playerID and yearID columns
# pitch_df_clean=yrs_pitch_df.drop(['playerID','yearID'], axis=1)
# pitch_df_clean

,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,...,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,ID
39749,1,SEA,AL,0,6,53,0,0,0,31,...,2,2.0,0,202.0,43,19,7.0,1.0,5.0,2010aardsda01
39750,1,HOU,NL,0,1,22,0,0,0,0,...,0,0.0,0,76.0,6,6,0.0,1.0,0.0,2010abadfe01
39751,1,TOR,AL,0,1,5,0,0,0,0,...,2,1.0,0,34.0,2,6,0.0,0.0,2.0,2010accarje01
39752,1,NYA,AL,3,0,10,0,0,0,1,...,0,1.0,0,53.0,2,5,0.0,0.0,0.0,2010aceveal01
39753,1,NYN,NL,3,2,41,0,0,0,1,...,3,0.0,0,157.0,12,13,1.0,1.0,4.0,2010acostma01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47624,1,NYN,NL,0,1,17,0,0,0,0,...,0,1.0,0,41.0,3,5,0.0,1.0,0.0,2019zamorda01
47625,1,TOR,AL,1,2,5,3,0,0,0,...,2,0.0,0,99.0,0,13,0.0,0.0,1.0,2019zeuchtj01
47626,1,DET,AL,1,13,23,23,0,0,0,...,3,6.0,0,504.0,0,89,3.0,4.0,5.0,2019zimmejo02
47627,1,KCA,AL,0,1,15,0,0,0,0,...,2,0.0,0,102.0,3,22,0.0,0.0,1.0,2019zimmeky01
47628,1,CHN,NL,0,0,1,0,0,0,0,...,0,0.0,0,5.0,1,0,0.0,0.0,0.0,2019zobribe01

In [7]:
# shift ID column to beginning
first_col = yrs_pitch_df.pop('ID')

In [8]:
# insert column to new position
yrs_pitch_df.insert(0,'ID',first_col)
yrs_pitch_df

,ID,playerID,yearID,stint,teamID,lgID,W,L,G,GS,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
39749,2010aardsda01,aardsda01,2010,1,SEA,AL,0,6,53,0,...,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0
39750,2010abadfe01,abadfe01,2010,1,HOU,NL,0,1,22,0,...,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0
39751,2010accarje01,accarje01,2010,1,TOR,AL,0,1,5,0,...,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0
39752,2010aceveal01,aceveal01,2010,1,NYA,AL,3,0,10,0,...,1.0,0,1.0,0,53.0,2,5,0.0,0.0,0.0
39753,2010acostma01,acostma01,2010,1,NYN,NL,3,2,41,0,...,1.0,3,0.0,0,157.0,12,13,1.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47624,2019zamorda01,zamorda01,2019,1,NYN,NL,0,1,17,0,...,1.0,0,1.0,0,41.0,3,5,0.0,1.0,0.0
47625,2019zeuchtj01,zeuchtj01,2019,1,TOR,AL,1,2,5,3,...,0.0,2,0.0,0,99.0,0,13,0.0,0.0,1.0
47626,2019zimmejo02,zimmejo02,2019,1,DET,AL,1,13,23,23,...,2.0,3,6.0,0,504.0,0,89,3.0,4.0,5.0
47627,2019zimmeky01,zimmeky01,2019,1,KCA,AL,0,1,15,0,...,0.0,2,0.0,0,102.0,3,22,0.0,0.0,1.0
47628,2019zobribe01,zobribe01,2019,1,CHN,NL,0,0,1,0,...,0.0,0,0.0,0,5.0,1,0,0.0,0.0,0.0

In [9]:
# export cleaned pitching stats as csv
yrs_pitch_df.to_csv('2010-2019_pitching_clean.csv', index=False)